.content-container{
    margin-top:20px;
    min-height:400px;
}

.planet-distance{
    padding-top:4px;
    padding-bottom:5px;
    width:280px;
}

.resupply-count-caption {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.pagermiddle {
    vertical-align: middle;
}

.planets-lists {
    padding-top: 10px;
}

.loginbutton {
    width: 200px;
}

.imagesize {
    width: 200px;
    height: 140px;
}

.imagesmallsize {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 21px;
}

.invalidDistance {
    border-color: red;
    border-width: 1px;
    border-style: inset
}

.tableheader {
    background-color: lightgray
}

.fieldCaption{
    font-weight:bold;
}
