<form role="form">
    <div class="row">
        <div class="col-md-4">
            <h2 class="form-login-heading">Login</h2>
            <input type="text" class="form-control" placeholder="User Name" data-ng-model="loginCtrl.loginVM.UserName" required autofocus>
            <input type="password" class="form-control m-t-sm" placeholder="Password" data-ng-model="loginCtrl.loginVM.Password" required>
            <button class="btn btn-md btn-info btn-block m-t-sm loginbutton" type="submit" data-ng-click="loginCtrl.Login(loginCtrl.loginVM)">Login</button>
            <div data-ng-hide="loginCtrl.ProcessInfo.Message == ''" class="alert alert-danger">
                {{loginCtrl.ProcessInfo.Message}}
            </div>
        </div>
    </div>
</form>